@page "/debts"
@inherits PersonalCash.Shared.UiComponentBase

@using PersonalCash.Pages.Debts.Components

<MudContainer MaxWidth="MaxWidth.Large" Class="pt-4 px-6 pb-6 pt-md-6">
    <MudStack Spacing="6">
        <MudStack Row="true"
                  Spacing="2"
                  Justify="Justify.SpaceBetween"
                  AlignItems="AlignItems.Center"
                  Wrap="Wrap.Wrap">

            <MudText Typo="Typo.h6">
                @string.Format(L["Debts_TableTitle"], _loans.Count)
            </MudText>

            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       Disabled="_busy"
                       OnClick="OpenAddLoanAsync">
                @L["Debts_AddDebt_Title"]
            </MudButton>
        </MudStack>

        @if (_busy)
        {
            <MudProgressLinear Indeterminate="true" />
        }

        @if (!_busy && _loans.Count == 0)
        {
            <MudPaper Class="pa-5" Elevation="1">
                <MudText Typo="Typo.body1">@L["Debts_NoItems"]</MudText>
            </MudPaper>
        }
        else if (_loans.Count > 0)
        {
            <div class="d-block d-md-none">
                <DebtsMobileList Items="_loans"
                                 PaymentsByLoanId="_paymentsByLoanId"
                                 ExpandedLoanIds="_expandedLoanIds"
                                 Busy="_busy"
                                 OnToggleLoan="ToggleLoanAsync"
                                 OnEditLoan="OpenEditLoanAsync"
                                 OnDeleteLoan="ConfirmDeleteLoanAsync"
                                 OnEditPayment="OpenEditPaymentAsync" />
            </div>

            <div class="d-none d-md-block">
                <DebtsTable Items="_loans"
                            PaymentsByLoanId="_paymentsByLoanId"
                            ExpandedLoanIds="_expandedLoanIds"
                            Busy="_busy"
                            OnToggleLoan="ToggleLoanAsync"
                            OnEditLoan="OpenEditLoanAsync"
                            OnDeleteLoan="ConfirmDeleteLoanAsync"
                            OnEditPayment="OpenEditPaymentAsync" />
            </div>
        }
    </MudStack>
</MudContainer>