@page "/transactions"
@inherits PersonalCash.Shared.UiComponentBase

@using Domain;
@using Domain.Enums
@using Domain.Contracts;
@using System.Globalization
@using PersonalCash.Pages.Transactions.Components

<div class="transactions-page">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <div class="transactions-layout">

            <section class="transactions-layout__top">
                <div class="transactions-layout__balances">
                    <TransactionsBalancesPanel Accounts="_activeAccounts" />
                </div>

                <div class="transactions-layout__add">
                    <TransactionsAddForm @bind-OccurredOn="OccurredOnPicker"
                                         @bind-Amount="_amount"
                                         @bind-EntryType="_entryType"
                                         @bind-IsForPlanning="_isForPlanning"
                                         Accounts="_activeAccounts"
                                         @bind-AccountId="SelectedAccountId"
                                         Currency="@_currency"
                                         Categories="_categories"
                                         @bind-CategoryId="_categoryId"
                                         @bind-Note="_note"
                                         Busy="_busy"
                                         OnAdd="AddAsync"
                                         OnRefresh="RefreshAsync" />
                </div>
            </section>

            <div class="transactions-layout__filters-inline">
                <TransactionsFiltersPanel @bind-FromDate="FilterFromDateTime"
                                          @bind-ToDate="FilterToDateTime"
                                          @bind-Month="FilterMonth"
                                          @bind-AccountIds="FilterAccountIds"
                                          @bind-SelectedEntryType="_fEntryType"
                                          @bind-CategoryIds="FilterCategoryIds"
                                          @bind-IsForPlanning="_fIsForPlanning"
                                          @bind-Note="_fNote"
                                          @bind-MinAmount="_fMinAmount"
                                          @bind-MaxAmount="_fMaxAmount"
                                          MonthOptions="_monthOptions"
                                          Accounts="_accounts"
                                          Categories="_categories"
                                          OnApply="ApplyFiltersAsync"
                                          Busy="_busy"
                                          OnClear="ClearFilters"
                                          OnSave="SaveFiltersAsync"
                                          OnReset="ResetFiltersAsync" />
            </div>

            <section class="transactions-layout__content">
                @if (_busy)
                {
                    <MudProgressLinear Indeterminate="true" />
                }
                <div class="transactions-layout__mobile-list">
                    <TransactionsTableMobileList Items="_items"
                                                 AccountsById="_accountById"
                                                 CategoriesById="_categoryById"
                                                 Busy="_busy"
                                                 OnEdit="OpenEditAsync"
                                                 OnDelete="ConfirmDeleteAsync"
                                                 OnRealizePlanned="OpenRealizePlannedAsync" />
                </div>

                <div class="transactions-layout__desktop-table">
                    <TransactionsTable Items="_items"
                                       AccountsById="_accountById"
                                       CategoriesById="_categoryById"
                                       Busy="_busy"
                                       OnEdit="OpenEditAsync"
                                       OnDelete="ConfirmDeleteAsync"
                                       OnRealizePlanned="OpenRealizePlannedAsync" />
                </div>
            </section>

            <aside class="transactions-layout__filters-sidebar">
                <div class="transactions-sticky transactions-sticky--filters">
                    <TransactionsFiltersPanel @bind-FromDate="FilterFromDateTime"
                                              @bind-ToDate="FilterToDateTime"
                                              @bind-Month="FilterMonth"
                                              @bind-AccountIds="FilterAccountIds"
                                              @bind-SelectedEntryType="_fEntryType"
                                              @bind-CategoryIds="FilterCategoryIds"
                                              @bind-IsForPlanning="_fIsForPlanning"
                                              @bind-Note="_fNote"
                                              @bind-MinAmount="_fMinAmount"
                                              @bind-MaxAmount="_fMaxAmount"
                                              MonthOptions="_monthOptions"
                                              Accounts="_accounts"
                                              Categories="_categories"
                                              OnApply="ApplyFiltersAsync"
                                              Busy="_busy"
                                              OnClear="ClearFilters"
                                              OnSave="SaveFiltersAsync"
                                              OnReset="ResetFiltersAsync"
                                              IsCollapsible="false" />
                </div>
            </aside>
        </div>
    </MudContainer>
</div>